/*
**__pycache__
**_local
**.sh
/experiments/**/data
/experiments/**/logs
!.gitignore
!/cortex
!/experiments
!/unit_tests
!**.py
!/experiments/**/run_example.sh
!/unit_tests/**.py
!/LICENCE.md
!/README.md
!/.gitignore
